<nav class="navbar navbar-custom navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="margin-left:0px" ui-sref="{{loggedIn ? 'account' : 'home'}}">ATOM</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/account')}" ng-show="hasRole('user')">
                    <a ui-sref="account">Account</a>
                </li>
                <li>
                    <a>test</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('/account')}" ng-show="loggedIn" class="dropdown" dropdown>
                    <a href="" class="dropdown-toggle" dropdown-toggle>Hello, {{ me.first_name }}!</a>
                    <ul class="dropdown-menu" dropdown-menu style="margin-right:5px">
                        <li><a ng-click="logout()">Sign Out</a>
                        </li>
                    </ul>
                </li>
                <li ng-hide="loggedIn">
                    <a ui-sref="signup">Create Account</a>
                </li>
                <li ng-hide="loggedIn">
                    <a ui-sref="signin">Log In</a>
                </li>
            </ul>

        </div>
    </div>
</nav>