$white: #FFFFFF;
$dark-grey: #555555;
$off-white: #f2f2f2;

body
{
	background-color: $white;
}

/* Do not remove this comments below.
 * It's the markers used by gulp-inject to inject all your sass 
 * files automatically 
 */
// injector
// endinjector
