$white: #FFFFFF;
$dark-grey: #555555;
$off-white: #FCFCFC;

body
{
	background-image: linear-gradient(45deg, #337AA7 17%, #742CAD 86%);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/* Do not remove this comments below.
 * It's the markers used by gulp-inject to inject all your sass 
 * files automatically 
 */
// injector
// endinjector
