.card
{
  width: 380px;
  height: 350px;
  background-color: #32425C;
  margin: 20px;
  z-index: 10;
  box-shadow: 0px 12px 10px 0px rgba(23,20,20,0.50);

}
.card-header
{
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.card-header-pull-right
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: white;
  float: right;
  padding: 8px;
  text-transform: uppercase;
}
.card-text
{
  padding-left: 10px;
  font-size: 13px;
  color: white;
}
.card-navbar
{
  height: 50px;
  background-color: #022330;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.card-link
{
  text-decoration: none;
  color: white;
}
.card-grid
{
  margin-top: 50px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;

}
