.recipe_card
{
  width: 380px;
  height: 350px;
  background-color: #32425C;
  margin: 20px;
  z-index: 10;
  box-shadow: 0px 12px 10px 0px rgba(23,20,20,0.50);

}
.recipe_card-header
{
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.recipe_card-header-pull-right
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: white;
  float: right;
  padding: 8px;
  text-transform: uppercase;
}
.recipe_card-text
{
  padding-left: 10px;
  font-size: 13px;
  color: white;
}
.recipe_card-navbar
{
  height: 50px;
  background-color: #022330;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.recipe_card-link
{
  text-decoration: none;
  color: white;
}
.recipe_card-grid
{
  margin-top: 50px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;

}

//.panel {
//  border: none;
//}
//.panel-default > .panel-heading {
//  background-color: #00ff00;
//}


.panel {
  margin-bottom: 21px;
  background-color: #4e5d6c;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  color: inherit;
}




.recipe-detail_hero-text {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}
.recipe-detail_section-header
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  //text-decoration: underline;
}
.recipe-detail_ingredient-section-body
{
  font-size: 13px;
  color: white;
}
.recipe-detail_panel-header
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 23px;
  color: white;
  padding-bottom: 10px;
}

.recipe-editor-label {
  display: inline-block;
  width: 140px;
  padding-right: 5px;
  text-align: right; }
.recipe-editor-input
{
  color: black; }
.recipe-detail_info-list
{
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  color:white;
}
